@use './partials/reset' as *;
@use './partials/variables' as *;
@use './partials/typo' as *;


body {
    font-family: 'Roboto', sans-serif;

}
a{
    text-decoration: none;
}
.container{
    max-width: 80rem;
    margin: 0 auto;
}